.carousel{
    position: relative;
    .slider-item{
        display: inline-block;
        @media (max-width: 1050px) {
            min-height: 700px;
        }
        @media  (min-width: 1051px) {
            min-height: 800px;
        }
        .item-caroussel{
            position: absolute;
            opacity: 1;
            overflow:hidden;
            max-height:800px;
            height:auto;
            img{
                opacity: 0.7;
            }
            .inner-slider{
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 2;
                width: 100%;
                min-height: 260px;
                .text-block{
                    font-size: 40px;
                    line-height: 67px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    font-family: @serif;
                    color: @white;
                }
            }
        }
    }
}
.site{
    .intro-text{
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: @mainGreen;
        padding-left: 50px;
        padding-right: 50px;
        color: @white;
        font-size: 1.5em;
    }
}
.card-item{
    box-shadow: 0 4px 8px 0 @black;
    transition: 0.3s;
    margin: 25px;
    padding: 25px;
    border-radius: 5px;
}