<div class="row">
    <ul>
        <li *ngFor="let category of secondaryMenu">
            <a (click)="redirectTo(category.slug)" [ngClass]="{'active': (currentCategory == category.name)}" >{{category.name}}</a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        {{currentCategory}}
    </div>
    <div *ngFor="let article of listArticles" class="card card-block" (click)="goToArticle(article)">
        <h3 [innerHTML]="article._title" class="card-header card-title">
        </h3>
        <div [innerHTML]="article._body" class="card-text">
        </div>
    </div>
</div>