<div id="sidebar-footer" class="footer-widgets widget-area " role="complementary">
    <div class="container footer-container">
        <div class="sidebar-column hidden-xs col-md-4">
            <a class="logo-site" href="/">
                <img src="assets/img/logo_big.png" alt="Logo" width="200" height="200">            
            </a>
        </div>
        <div class="sidebar-column col-xs-12 col-md-4">
            <ul class="footer-column">
                <li class="list-title" role="title">
                    Find Me: 
                </li>
                <li>
                    <a href="https://github.com/ihrimech">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/i_hrimech">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://fr.linkedin.com/in/ismail-hrimech-a677b164">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar-column col-xs-12 col-md-4">
            <ul class="footer-column">
                <li>
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                    Curriculum (under construction)
                </li>
                <li>
                    <i class="fa fa-space-shuttle" aria-hidden="true"></i>
                    About
                </li>
                <li>
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                    Contact
                </li>
                <li>
                    <i class="fa fa-gavel" aria-hidden="true"></i>
                    Legal
                </li>
            </ul>
        </div>
    </div>	
</div>