<div id="sidebar-footer" class="footer-widgets widget-area " role="complementary">
    <div class="container footer-container">
        <div class="sidebar-column hidden-xs col-md-4">
            <a class="logo-site" href="/">
                <img src="assets/img/logo_big.png" alt="Logo" width="200" height="200">            
            </a>
        </div>
        <div class="sidebar-column col-xs-12 col-md-4">
            <ul class="footer-column">
                <li>
                    Find Me: 
                </li>
                <li>
                    <a href="https://github.com/ihrimech">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/i_hrimech">Twitter</a>
                </li>
                <li>
                    <a href="https://fr.linkedin.com/in/ismail-hrimech-a677b164">LinkedIn</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-column col-xs-12 col-md-4">
            <ul class="footer-column">
                <li>
                    Recommended websites and blogs: 
                </li>
                <li>
                    Contact me
                </li>
            </ul>
        </div>
    </div>	
</div>