<div id="sidebar-footer" class="footer-widgets widget-area " role="complementary">
    <div class="container footer-container">
        <div class="sidebar-column hidden-xs col-md-4">
            <a class="logo-site" href="/">
                <img src="assets/img/logo_big.png" alt="Logo" width="200" height="200">            
            </a>
        </div>
        <div class="sidebar-column col-xs-12 col-md-4">
            COLUMN FOOTER
        </div>
        <div class="sidebar-column col-xs-12 col-md-4">
            COLUMN FOOTER
        </div>
    </div>	
</div>