<div class="navbar-header">
    <button type="button" (click)="showMobileNavigation()" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="collapse navbar-collapse" [ngClass]="{'mobile-menu-visible': showMobileMenu}" >
    <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let category of categories">
            <a routerLink="list-articles/{{category.slug}}" routerLinkActive="active">{{category.name}}</a>
        <li>
    </ul>
</div>
<div *ngIf="childrenCategory" class="collapse navbar-collapse" [ngClass]="{'mobile-menu-visible': showMobileMenu}" >
    <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let category of categories">
            <a routerLink="list-articles/{{category.slug}}" routerLinkActive="active">{{category.name}}</a>
        <li>
    </ul>
</div>